/////////////////////////////
////    COMMON COLORS
/////////////////////////////

$white_color: #ffffff;
$black_color: #000000;
$grey_color: #eaeaea;
$light_grey_color: #f8f8f8;

/////////////////////////////
////    PRIMARY COLORS
/////////////////////////////

$primary_color: #8e7d7b;

/////////////////////////////
////    INFORMATION COLORS
/////////////////////////////

$success_color: #49bb4d;
$danger_color: #e74c3c;
$warning_color: #fdd741;
$info_color: #3498db;
$brand_color: #428bca;


